<li>
  <a href="#download">Download Bootstrap</a>
  <ul class="nav">
    <li><a href="#download-compiled">Dikompilasi CSS, JS dan font</a></li>
    <li><a href="#download-additional">Tambahan unduh</a></li>
    <li><a href="#download-cdn">Bootstrap CDN</a></li>
  </ul>
</li>
<li>
  <a href="#whats-included">Apa yang disertakan</a>
  <ul class="nav">
    <li><a href="#whats-included-precompiled">Precompiled</a></li>
    <li><a href="#whats-included-source">Kode sumber</a></li>
  </ul>
</li>
<li>
  <a href="#template">Template dasar</a>
</li>
<li>
  <a href="#examples">Contoh</a>
</li>
<li>
  <a href="#disable-responsive">Menonaktifkan responsif</a>
</li>
<li>
  <a href="#migration">Migrasi dari 2.x ke 3.0</a>
  <ul class="nav">
    <li><a href="#migration-classes">Perubahan utama kelas</a></li>
    <li><a href="#migration-new">Apa yang baru</a></li>
    <li><a href="#migration-dropped">Apa yang akan dihapus</a></li>
    <li><a href="#migration-notes">Catatan tambahan</a></li>
  </ul>
</li>
<li>
  <a href="#browsers">Dukungan browser</a>
</li>
<li>
  <a href="#third-parties">Dukungan pihak ketiga</a>
</li>
<li>
  <a href="#accessibility">Aksesibilitas</a>
</li>
<li>
  <a href="#license-faqs">License FAQs</a>
</li>
<li>
  <a href="#customizing">Menyesuaikan Bootstrap</a>
</li>
